.text_p{
    position: absolute;
    color: aqua;
    font-size: 22;
    left: 25px;
    top: 30%;
}

.a_ref{
    text-decoration: none;
    color: white;
    transition:1s;
}


.a_ref:hover{
    color: pink;
}
#h1_v{
    animation: op_change_h1 5s infinite;
}
#h1_c{ 
    animation: op_change_h2 5s infinite;
}
@keyframes op_change_h1{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes op_change_h2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.pzt{
    position: absolute;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 5;
}

.pss{
    color: white;
    font-size: 15;
    margin-top: 3;
    margin-left: 5;
    margin: 3;
}